.modal_but{
    margin-top: 20px;
    margin-left: 25px;
}
.trackor-container{
  padding-bottom: 22px

}
.boder{
    margin: 10px 100px 0px 100px;
    border: 2px solid black;
  
}
.trackor-button{
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}